@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap');

.App {
  text-align: center;
  font-family: 'Sora', sans-serif;
}


.poke-img {
  width: 100px;
  height: 100px;
  padding: 6px;
  border: 4px dotted rgb(0, 0, 0, .2);
  border-radius: 100px;
  margin-top: 10px;
}

.pokemon-info {
  background-size: 500px;
  background-repeat: repeat;
  background-position: top left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 230px;
  border-radius: 25px;
  margin: 20px;
  line-height: 4px;
  color: black;
  background-color: rgba(150, 164, 190, 0.97);
  border: 3px black solid;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.28);
}

select {
  border-radius: 25px;
  margin: 5px;
}


input {
  margin: 5px;
}
button {
  border-radius: 25px;
  width: 100px;
  padding: 2px;
  margin: 5px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  letter-spacing: 1px;
}

.details {
  border: 1px solid black;
  padding: 4px;
  line-height: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  width: 180px;
}

.head-img {
  margin-top: 15px;
}

.poke-img:hover {
  background-color: rgba(14, 99, 226, 0.644);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: royalblue;
  text-decoration: none;
}

.nav-links:hover {
  color: orange;
}



.index-image {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  margin: auto;

}

a {
  text-decoration: none;
}